:root{
    --custom-black: #141414;
    --custom-gray-primary: #191919;
    --custom-gray-accent: #333333;
    --custom-gray-secondary: #7e7e81;
    --custom-gray: #666666;
    --custom-gray-main: #98989a;
}

@font-face{
    font-family: 'Triomphe';
    src: url('/fonts/Triomphe.ttf') format('truetype');
}

@font-face{
    font-family: 'Inter-Tight';
    src: url('/fonts/Inter-Tight.ttf') format('truetype');
}

@font-face{
    font-family: 'Inter-Regular';
    src: url('/fonts/Inter-Regular.ttf') format('truetype');
}

.custom-font-triomphe{
    font-family: 'Triomphe';
}

.custom-font-inter-tight{
    font-family: 'Inter-Tight';
}

.custom-font-inter-regular{
    font-family: 'Inter-Regular';
}

.custom-font-gray-main{
    color: var(--custom-gray-main)
}

.custom-font-gray{
    color: var(--custom-gray-main)
}

.custom-bg-gray{
    background-color: var(--custom-gray-accent);
}

body{
    background-color: var(--custom-black);
}



/* NAV */
nav{
    background-color: var(--custom-gray-primary);
    border-bottom: 1px solid var(--custom-gray-accent);
}

.nav-burger:hover, .nav-active{
    background-color: var(--custom-black);
    border: 1px solid var(--custom-gray-accent);
}

.nav-inactive{
    color: var(--custom-gray-secondary);
}
/* NAV */



/* FOOTER */
footer{
    border-top: 1px solid var(--custom-gray-accent);
    font-family: 'Inter-Tight';
    color: var(--custom-gray);
}
/* FOOTER */



/* INDEX */
.index-button-start:hover{
    color: white;
    background-color: var(--custom-black);
    border: 2px solid var(--custom-gray-accent);
}
/* INDEX */









.view-search{
    font-family: 'Triomphe';
    color: white;
    border: 2px solid var(--custom-gray-accent);
    border-radius: 10px;
    padding: 5px;
    background-color: var(--custom-black);
}

.view-blog-card{
    border-top: 1px solid var(--custom-gray-accent);
    border-bottom: 1px solid var(--custom-gray-accent);
    background-color: var(--custom-black);
    font-family: 'Inter-Regular';
}

.form-input{
    font-family: 'Inter-Regular';
    color: white;
    border: 2px solid var(--custom-gray-accent);
}

.button-design{
    font-family: 'Triomphe';
    color: var(--custom-gray-primary);
    font-weight: bold;
    background-color: white;
    border-radius: 10px;
}

.button-design:hover{
    color: white;
    background-color: var(--custom-gray-primary);
    border: 1px white solid;
    cursor: pointer;
}

.text-input{
    font-family: 'Inter-Regular';
    color: white;
    border: 1px solid var(--custom-gray-accent);
    border-radius: 10px;
    background-color: var(--custom-black);
    padding: 3px;
    margin: 3px;
}

.text-input:focus{
    outline: none;
    box-shadow: 0 0 0 1px white;
}

.interaction-button{
    font-family: 'Inter-Tight';
    color: var(--custom-gray-main);
    border-radius: 20px;
    border: 1px solid var(--custom-gray-accent);
    background-color: var(--custom-black);
}

.interaction-button:hover{
    color: white;
    border: 1px solid white;
    cursor: pointer;
}